@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    text-decoration: none;
    font-family: poppins;
    color: black;
}

header{
    background-color:#B7DDF3;
}

.logo{
    margin-left:0px;
}

.cabeca{
    color:black;
    text-align: center;
    margin-top: 25px;
    gap: 220px;
}

.vetegato{
    margin-left: 900px;
    margin-top: 50px;
}

.cuidar{
    position: absolute;
    margin-left: 330px;
    margin-top: 90px;
    font-size: 24px;
}

.quem{
    color: #4B987C;
    margin-left: 150px;
    margin-top: 50px;
}

.cachorro{
    margin-left: 150px;
    margin-top: 70px;
}

.agendar{
    background-color: #B5EAD7;
}

span{
    color: #005484;
}

.d-flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.verde{
    background-color: #B5EAD7;
    height: 10px;
    border: none;
    margin-top: 80px;
}

.texto-invertido {
    text-align: right;
}

.imgacao {
    display: flex;        
    padding: 20px;  
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}
 
 
.gato {
    margin-right: 20px;  
    margin-top: 20px;
}
 
.doisdog {
    margin-right: 20px;  
    margin-top: 150px;
}
 
.dogoculos {
    margin-right: 0;
    margin-top: 143px;
    margin-left: 165px;
}
 
a {
    text-decoration: none;
    color: black;
   
}
 
.vet {
    background-color: #B5EAD7;
    width: 200px;
    margin-left: 220px;
    margin-top: -78px;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}
 
.cliente {
    background-color: #B5EAD7;
    width: 200px;
   margin-left: 630px;
   margin-top: -68px;
   text-align: center;
   padding: 20px;
   border-radius: 50px;
}
 
.cadas {
    background-color: #B5EAD7;
    width: 200px;
    margin-left: 1050px;
    margin-top: -68px;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}
 
.acao {
    color: black;
    text-align: center;
    margin-top: 140px;
   
   
}