<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <header class="d-flex around">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo amor & patas" width="90px" class="logo">
        <nav class="cabeca d-flex between">
            <a href="{{ url_for('index') }}"><b>Home</b></a>
            <a href="{{ url_for('index') }}"><b>Quem Somos</b></a>
            <a href="{{ url_for('index') }}"><b>Profissionais</b></a>
            <a href="{{ url_for('index') }}"><b>Serviços</b></a>
            <a href="{{ url_for('prelogin') }}"><b>Conta</b></a>
        </nav>
    </header>
    <main>
        <section class="titulologinpet">
            <h1>Cadastre seu pet na Amor & Patas!</h1>
        </section>
        
        <section>
            <div class="imagemloginpet">
            </div>
            <div class="fundologinpet">
                <section>
                    {% with mensagens = get_flashed_messages(with_categories=true) %}
                        {% if mensagens %}
                            <div class="mensagens">
                                {% for categoria, mensagem in mensagens %}
                                    {% if categoria == 'erro' %}
                                        <div class="mensagem-erro">
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% elif categoria == 'sucesso' %}
                                        <div class="mensagem-sucesso">
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </section>
            <div>
             <img class="imgcatlogin" src="../static/img/gatologin.png" alt="Imagem de um gatinho no login" width="250px">
               </div>
                <form method="POST">
                        <div class="nome">
                            <label for="nome">Nome:</label>
                            <input type="nome" name="nome" id="nome" required><br><br>
                        </div>
                        <div class="racapet">
                            <label for="raca">Raça:</label>
                            <input type="nome" name="raca" id="raca" required><br><br>
                        </div>
                        <div class="especiepet">
                            <label for="especie">Espécie:</label>
                            <input type="text" name="especie" id="especie" required><br><br>
                        </div>
                        <div class="peso">
                            <label for="peso">Peso:</label>
                            <input type="number" name="peso" id="peso" required><br><br>
                        </div>
                        <div class="idade">
                            <label for="idade">Idade:</label>
                            <input type="number" name="idade" id="idade" required><br><br>
                        </div>
                    <div>
                    <button type="submit">Adicionar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <section class="fun">
            <h3>Funcionamento:</h3>
            <div class="funcio d-flex">
                <p>Domingo à Domingo - 24 horas 🕛 / ✦Atendemos também pelo celular de emergências!</p>
                
            </div>
        </section>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        <p><b>© 2025 - Todos os direitos reservados</b></p>
    </footer>
</body>
</html>