<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amor & Patas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="d-flex around">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo amor & patas" width="90px" class="logo">
        <nav class="cabeca d-flex between">
            <a href="{{ url_for('index') }}"><b>Home</b></a>
            <a href="{{ url_for('index') }}"><b>Quem Somos</b></a>
            <a href="{{ url_for('index') }}"><b>Profissionais</b></a>
            <a href="{{ url_for('index') }}"><b>Serviços</b></a>
            <a href="{{ url_for('prelogin') }}"><b>Conta</b></a>
        </nav>
    </header>
    <main>
        <section>
            <p class="cuidar"><i>Amor & Patas: Cuidar <br> do seu pet com amor <br> é nossa <span>especialidade!</span></i></p>
            <img src="static/img/Vet e gato.png" alt="Veterinário segurando um gatinho no colo" width="200px" class="vetegato">
            <hr class="verde">
        </section>

        <section class="d-flex between align-items">
            <div>
                <h2 class="pro">Quem Somos?</h2>
                <img src="static/img/cachorro e gato.png" alt="Cachorro e gato juntos" width="290px" class="cachorro">
            </div>
            <div class="texto-invertido" style="padding-right: 200px;">
                <p class="somos"><i>Somos uma clínica de <br> profissionais <br> apaixonados por cuidar <br> de quem enche sua vida de <br> amor e companheirismo!</i></p>
                <a href="{{ url_for('prelogin') }}" class="agendar"><b>Agendar!</b></a>
            </div>
        </section>
    <hr class="verde">
        <section>
            <h3 style="margin-bottom: 40px;" class="pro">Nossos profissionais</h3>
            <div class="vet">
                <div class="balao">
                    <p>Doutor Bernardo Cerrano</p>
                    <img style="width: 20vw;" src="static/img/bernardo.png" alt="Imagem o doutor Bernardo segurando dois pugs">
                </div>
                <div class="balao">
                    <p>Doutora Maitê Molina</p>
                    <img style="width: 20vw; height: 36vh;" src="static/img/maite.png" alt="Imagem da Doutora Maitê atendendo um cachorro">
                </div>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 30px;">
                <a href="{{ url_for('prelogin') }}" class="agendar"><b>Agendar!</b></a>
            </div>
        </section>

        <hr class="verde">

        <section>
            <h3 class="pro">Serviços disponíveis</h3>
            <div class="colunm">
                <div class="servico">
                    <img src="static/img/banho.png" alt="Cachorrinho tomando banho sorrindo" width="250px">
                    <p><b>Banho e Tosa</b></p>
                </div>
            <div class="servico">
                <img src="static/img/vacina.png" alt="Gatinho sendo vacinado" width="250px">
                <p><b>Vacinação</b></p>
            </div>
            <div class="servico">
                <img src="static/img/exame.png" alt="Cachorrinho realizando um Raio-X" width="250px">
                <p><b>Exames e Diagnósticos</b></p>
                </div>
            <div class="servico">
                <img src="static/img/rotina.png" alt="Médica ouvindo o coração do cachorro" width="250px">
                <p><b>Consultas de Rotina</b></p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <a href="{{ url_for('prelogin') }}" class="agendar"><b>Agendar consulta!</b></a>
            </div>
        </section>
    </main>

    <footer>
        <section class="fun">
            <h3>Funcionamento:</h3>
            <div class="funcio d-flex">
                <p>Domingo à Domingo - 24 horas 🕛 / ✦Atendemos também pelo celular de emergências!</p>
                
            </div>
        </section>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        <p><b>© 2025 - Todos os direitos reservados</b></p>
    </footer>
</body>
</html>