<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <header class="d-flex around">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo amor & patas" width="90px" class="logo">
        <nav class="cabeca d-flex between">
            <a href="{{ url_for('index') }}"><b>Home</b></a>
            <a href="{{ url_for('index') }}"><b>Quem Somos</b></a>
            <a href="{{ url_for('index') }}"><b>Profissionais</b></a>
            <a href="{{ url_for('index') }}"><b>Serviços</b></a>
            <a href="{{ url_for('prelogin') }}"><b>Conta</b></a>
        </nav>
    </header>
    <main>
         <a href="{{ url_for('prelogin') }}" class="seta-esquerda"></a>
        <section class="titulologin">
            <h1>Faça login na Amor & Patas!</h1>
        </section>
        <section>
            <div class="imagemlogin">
                <img src="static/img/variosanimals.png" alt="Vários animais">
            </div>
            <div class="fundologin">
                <section>
                    {% with mensagens = get_flashed_messages(with_categories=true) %}
                        {% if mensagens %}
                            <div class="mensagens">
                                {% for categoria, mensagem in mensagens %}
                                    {% if categoria == 'erro' %}
                                        <div class="mensagem-erro">
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% elif categoria == 'sucesso' %}
                                        <div class="mensagem-sucesso">
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </section>
                <form action="/login" method="POST">
                    <div class="emaillogin">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required><br><br>
                    </div>
                    <div class="senhalogin">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha" required><br><br>
                    </div>
                <div class="log">
                <button type="submit">Login</button>
                </div>
                <div class="log">
                    <p>Não tem cadastro? <a class="cadastrese" href="{{ url_for('cadastro') }}">Cadastre-se</a></p></div>
                </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <section class="fun">
            <h3>Funcionamento:</h3>
            <div class="funcio d-flex">
                <p>Domingo à Domingo - 24 horas 🕛 / ✦Atendemos também pelo celular de emergências!</p>

            </div>
        </section>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        <p><b>© 2025 - Todos os direitos reservados</b></p>
    </footer>
</body>
</html>